.sidenav-container {
  width: 100%;

  mat-sidenav-content {
    height: 100vh;

    mat-toolbar {
      position: fixed;
      z-index: 2;
    }

    main {
      padding: 20px;
      margin-top: 70px;
    }
  }
}
